@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}



@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-prompt), var(--font-geist-sans),ui-sans-serif, system-ui, sans-serif;
  --font-mono: var(--font-geist-mono);
  --color-cprojectone:    #F8F4EC;
  --color-cprojecttwo:    #FFFDFA;
  --color-cprojectthree:  #E2B6A8;
  --color-cprojectfour:   #EFE1B8;
  --color-cprojectfive:   #EFE8D8;

}



@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #000000;
  }
}

.k2d-regular {
  font-family: "K2D", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.MuiTypography-root, 
.MuiButton-root, 
.MuiDialog-root,
.MuiDialogTitle-root,
.MuiDialogContent-root,
.MuiDialogActions-root,
.MuiInputBase-root {
  /* เรียกใช้ --font-prompt ตรงๆ ที่ส่งมาจาก layout.tsx */
  font-family: var(--font-prompt), var(--font-geist-sans),ui-sans-serif, system-ui, sans-serif !important;
}

html {
  scrollbar-gutter: stable;
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background: #F8F4EC;
  border-radius: 10px;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-prompt), var(--font-geist-sans),ui-sans-serif, system-ui, sans-serif ;
  -webkit-tap-highlight-color: transparent;
}
button, a, select, input {
  -webkit-tap-highlight-color: transparent;
}

.custom-scrollbar::-webkit-scrollbar {
  height: 6px; 
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #9ca3af; 
  border-radius: 20px;
  font-family: "K2D", Arial, Helvetica, sans-serif;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent; 
}






